.navbar{
  padding: 0 1rem;
}
.arkaplan-renk{
background-color: #9d65c9;
}

.nav-radius{
  border-radius: 30px;
}
.navbar-brand{
  font-size: 2rem;
  font-family: 'Pacifico',cursive;
}
h2{
  font-family: 'Pacifico',cursive;
  color: #646464;
}
.yazi{
  font-size: 2.2rem;
  line-height: 3rem;
  margin-bottom: 5%;
  font-family: 'Grandstander',cursive;
}
.okul{
  text-decoration: none;
color:black;

}
.kisi{
  font-family: 'Satisfy',cursive;
  color: #ffa5a5;
}
.ust-alt-45px-bosluk {
  padding: 45px 0;
}
.arkaplan{
  background-color: #f1f6f9;
}

.fas {
  color: #7579e7;
  margin-bottom: 5%;

}
@media (min-width:768px) {
  .yuvarlak{
    border-radius: 50%;
    width: 50%;
    transform: rotate(30deg);
  }
}
@media (max-width:767px) {
  .yuvarlak{
    margin-top: 30px;
    width: 50%;
    transform: rotate(0deg);
  }
  .iletisim-linkleri{
    display: flex;
    justify-content: center;
  }
}
@media (min-width:992px) {
  .r-l-padding {
    padding: 3% 15%;
  }
}

@media (max-width:991px) {
  .r-l-padding {
    padding: 3% 3%;
  }
}
