body{
box-sizing: border-box;
margin:0;
padding:0;

}
.container{
  width: 70%;
  height: 600px;
  margin: 0 auto;

}
h1{
  margin-top:0;
  padding: 30px;
}

h2{
  font-size: 30px;
}
img{
  width: 100%;
}
.ust{
  background-color: #009688;
  color:#ffffff;
}
.ilk{
  display: flex;

}
.foto{
width: 30%;
padding: 10px;
}
.text{
width: 70%;
padding: 10px;

}
