body{
  background-color: #E1E6ED;
}
.container-genel{
  padding: 2%;
  float: left;
  display: flex;
}
.container-left{
  background-color:#F0F4F7;
  width: 22%;
  height: 100%;
}
.logo1{
padding: 15px;
}
.logo{
height: 44px;
}
.first-text{
  color: gray;

}
.linkler a{
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding-top: 30px;
  font-size: 1.3rem;
}
ul{
  list-style-type: none;
display: flex;
flex-direction: column;
}
.copy{
  text-align: center;
  padding-top: 10px;
}
.container-2{
  width: 78%;
  background-color: #ffffff;
  padding-left: 15px;
}
