<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kitap tanıtımı</title>
  </head>
  <body>
    <h1>Kitap Adı : <%= kitapAdi %></h1>
    <h1>Yazar Adı :  <%=yazarAdi %> </h1>
    <p> <h3>Kitap Hakkında : </h3>  <%=aciklama %> </p>
    <h1> Fiyat :  <%=fiyat %> </h1>
  </body>
</html>
