<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ürünler</title>
  </head>
  <body>
    <h1>Başlık :<%= baslik%> </h1>
    <p>Yorum : <%= yorumsayisi %></p>
  </body>
</html>
